// Box model
*,
*:before,
*:after
	box-sizing border-box
	
	
// Main padding var
pad = 50px // Change main padding variable based on project


// Global link styling
a
	color black
	text-decoration none
	transition color 150ms
	
	&:hover
		color lighten(black, 25%)
		
	
// Helper classes
.hidden
	display none
	
.bold
	font-weight 700
	
.italic
	font-style italic
	

// Bezier functions
easing()
	transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
	
easing2()
	transition-timing-function cubic-bezier(0.215, 0.610, 0.355, 1.000)
	
easing3()
	transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
	
	
// Selection and highlight color
selection()
	::-moz-selection
		background-color blue
		color white
	::selection
		background-color blue
		color white
		
*
	-webkit-tap-highlight-color rgba(blue, 0.4)
		
// No Javascript alert
.no-js-alert
	width 100%
	background-color red
	color white
	text-align center
	position relative
	top 0
	left 0
	z-index 7000
	margin-bottom pad
	padding (pad/2)
	
	a
		color white
		text-decoration underline
		

// Define body noscroll
body.noscroll
	max-height 100vh
	overflow-y hidden
		
		
// Override noscroll and force visibility on main element if Javascript disabled
html
	&.no-js
			
		body.noscroll
			overflow visible
			
		main
			opacity 1
			visibility visible


// Define main container size and padding
.container
	center(container)
	
	+below(container)
		padding 0 (pad/2)
		
		
// Text container helper element
.text-container
	max-width 800px
	margin 0 auto