doctype html
html(class="no-js")
  include ../_partials/head

  body

    include ../_partials/loader
    include ../_partials/header

    main
      block content

    include ../_partials/footer
    include ../_partials/scripts