::-webkit-scrollbar {
  overflow: visible;
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
}
::-webkit-scrollbar-track:horizontal {
  border-width: 0px 0 0;
}
::-webkit-scrollbar-track:hover {
  background-color: #000
}
::-webkit-scrollbar-track:horizontal:hover {
}
::-webkit-scrollbar-track:active {
  background-color: #000
}
::-webkit-scrollbar-track:horizontal:active {
}
::-webkit-scrollbar-thumb {
  background-color: #eee;
  background-clip: padding-box;
  min-height: 28px;
  padding: 100px 0 0;
}
::-webkit-scrollbar-thumb:horizontal {
  padding: 0 0 0 100px;
}
::-webkit-scrollbar-thumb:active {
  background-color: darken(#eee, 20%);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #000;
}
body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #000;
}