// Define main pad

$pad = 40px



// Define color variables

$mirage = #18212D
$springgreen = #31FFA6
$milan = #FFFFA6



// Define font calls

font-heading()
  font-family 'League Spartan', Helvetica, Arial, sans-serif
  
font-paragraph()
  font-family 'Roboto', Helvetica, Arial, sans-serif



// Define device sizes

$small = 480px
$medium = 795px
$smallContainer = 800px
$navScale = 543px
$container = 1200px
$large = 1300px



// Define easings

$easeOutBack = cubic-bezier(0.175,0.885,0.320,1.275)
$easeOutCubic = cubic-bezier(0.215,0.610,0.355,1.000)
$easeOutQuart = cubic-bezier(0.165,0.840,0.440,1.000)