// Import Stylus plugins
@import 'jeet'
@import 'nib'
@import 'rupture'

// Import partial styles
@import '_fonts.styl'
@import '_vars.styl'
@import '_partials.styl'
// @import '_scrollbar.styl'
@import '_animations.styl'

// Selection Color
selection()
global-reset()

// Main body styles

html
	position relative	
	
	&.no-js
		opacity 1
		.no-js-alert
			display block
	&.js
		.no-js-alert
			display none
			


// Body


		


// Header

