head
	block vars
	script.
		(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
	meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
	meta(name='description', itemprop='description', content='Website description goes here!')
	meta(name='keywords', itemprop='keywords', content='website, keywords, go, here')
	link(rel='canonical', href='https://website.com/')
	meta(property='og:title', content='Website')
	meta(property='og:type', content='product')
	meta(property='og:url', content='https://website.com/')
	meta(property='og:site_name', content='Website')
	meta(property='og:description', content='Website description goes here!')
	meta(name='twitter:card', content='summary')
	meta(name='twitter:title', content='Website')
	meta(name='twitter:description', content='Website description goes here!')
	meta(property='og:site_name', content='Website')
	meta(property='og:url', content='https://website.com/')
	meta(property='og:title', content='Home')
	meta(property='og:type', content='blog')
	link(rel='shortlink', href='https://website.com/')
	meta(name="theme-color", content="#449dcd")
	meta(name='msapplication-navbutton-color', content='#449dcd')
	meta(name='apple-mobile-web-app-status-bar-style', content='#449dcd')
	link(rel="shortcut icon", href="images/favicon.ico")
	link(rel="shortcut icon", href="images/favicon.png?v=2")
	title #{pageTitle}  | Website Title
	link(rel="stylesheet", href="css/master.css")